.container {
  --size: 30px;
  display: grid;
  grid-template-columns: repeat(3, var(--size));
  grid-template-rows: var(--size);
  inline-size: max-content;
  margin-block-start: auto;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.button {
  font-size: 2rem;
}

.quantity {
  place-self: center;
}
