.backdrop {
  position: fixed;
  inset: 0;
  animation: showBackdrop 300ms forwards;
}

.modal {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
  display: flex;
  flex-direction: column;
  inline-size: min(100%, 384px);
  padding: 16px var(--modal-space-inline);
  background-color: var(--bg-color);
  outline: none;
  scrollbar-width: thin;
  overflow-y: auto;
  animation: enterModal 300ms;
}

.closeModalLink {
  margin-inline-start: auto;
}

@keyframes showBackdrop {
  to {
    background-color: hsla(0, 0%, 0%, 0.35);
  }
}

@keyframes enterModal {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
