.container {
  --block-size: 80dvh;
  block-size: var(--block-size);
}

.videoWrapper {
  position: fixed;
  inset-inline: 0;
}

.video {
  inline-size: 100%;
  block-size: var(--block-size);
  object-fit: cover;
}
