.link {
  position: fixed;
  inset-block-end: 14px;
  inset-inline-start: 14px;
  padding: 10px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  box-shadow: 0 0 14px 0px hsla(0, 0%, 100%, 0.5);
  border-radius: 100%;
  outline-offset: 3px;
}
