.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px;
  margin-block: auto;
}

.title {
  margin-block: 24px;
}

.legalText {
  color: hsl(0, 0%, 39%);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
}

.separator {
  position: relative;
  block-size: 1px;
  inline-size: 100%;
  margin-block: 32px;
  background-color: hsl(0, 0%, 91%);
}

.separatorText {
  position: absolute;
  inset-block-start: -0.5lh;
  inset-inline: 0;
  inline-size: max-content;
  padding-inline: 0.8rem;
  margin-inline: auto;
  color: hsl(0, 0%, 55%);
  background-color: var(--bg-color);
}

.registerLink {
  margin-block-start: 24px;
}

.title,
.legalText,
.registerLink {
  font-size: 1.2rem;
}

.title,
  .registerLinkText,
.legalLink {
  font-weight: 700;
}
