.recommendationsSection {
  isolation: isolate;
  background-color: var(--bg-color);
  padding-block: 24px;
}

.title {
  font-weight: 400;
  padding-block-end: 16px;
  padding-inline-start: 16px;
}

.productCard {
  inline-size: clamp(22rem, 17.631rem + 11.65vw, 40rem);
}

@media screen and (min-width: 768px) {
  .recommendationsSection {
    padding-block: 80px;
  }
  .title {
    text-align: center;
    padding-block-end: 32px;
  }
}
