:root {
  --promo-color: 339 100% 43%;
  --bg-color: 0 0% 100%;
  --content-color: 0 0% 0%;

  --promo-color: hsl(339, 100%, 43%);
  --bg-color: hsl(0 0% 100%);
  --content-color: hsl(0, 0%, 0%);
}

body {
  font-size: 1.6rem;
}
