:root {
  --promo-color-hsl: 339 100% 43%;
  --bg-color-hsl: 0 0% 100%;
  --content-color-hsl: 0 0% 0%;
  --border-color-hsl: 0 0% 90%;

  --promo-color: hsl(339, 100%, 43%);
  --bg-color: hsl(0 0% 100%);
  --content-color: hsl(0, 0%, 0%);
  --border-color: hsl(0, 0%, 90%);

  --header-block-size: 48px;
}

body {
  font-size: clamp(1.3rem, 1.227rem + 0.194vw, 1.6rem);
}
