.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  block-size: 48px;
  padding-inline: 16px;
  color: var(--content-color-invert);
  border-radius: var(--border-radius);
  font-weight: 700;
  text-transform: uppercase;
  outline-offset: 2px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.primary {
  background-color: var(--bg-color-high);
}

.success {
  background-color: var(--success-color);
}

.button:disabled {
  opacity: 0.75;
  cursor: auto;
}

.button:not(:disabled):hover {
  opacity: 0.75;
}
