.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  block-size: 48px;
  padding-inline: 16px;
  color: var(--content-color-invert);
  border-radius: var(--border-radius);
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  outline-offset: 2px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  opacity: 0.75;
}

.button:disabled {
  opacity: 0.75;
  pointer-events: none;
}

.primary {
  background-color: var(--bg-color-high);
}

.success {
  background-color: var(--success-color);
}

.outlined {
  background-color: transparent;
  color: var(--content-color);
  border: 1px solid currentColor;
}

.text {
  color: var(--content-color);
  font-weight: 400;
}
