.container {
  position: relative;
  font-size: 1.2rem;
}

.label {
  position: absolute;
  color: var(--inactive-color);
  padding-inline: 0.4rem;
  user-select: none;
  pointer-events: none;
  transform: translate(16px, 10px);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1),
    transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.container:where(:focus-within, :not(:has(:placeholder-shown))) > .label {
  color: currentColor;
  background-color: var(--bg-color);
  transform: translate(10px, -0.5lh) scale(0.9);
}

.input {
  padding: 10px 16px;
  inline-size: 100%;
  font-weight: 500;
  outline: none;
  border: 1px solid var(--inactive-color);
  border-radius: var(--border-radius);
  transition: border-color 200ms ease;
}

.input:not(.errorInput):focus {
  border-color: var(--border-color-high);
}

.errorInput {
  border-color: var(--error-color);
}

.hint,
.error {
  font-size: 1.1rem;
  padding-block-start: 8px;
}

.hint {
  color: var(--inactive-color);
}

.hint.error,
.error {
  color: var(--error-color);
}
