.card {
  display: flex;
  column-gap: 16px;
  font-size: 1.4rem;
}

.imageLink {
  flex-shrink: 0;
}

.image {
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
}

.topArea {
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: 500;
}

.middleArea {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding-block-start: 8px;
  font-size: 1.2rem;
}

.orderInfo {
  display: flex;
  column-gap: 8px;
  color: hsl(0, 0%, 39%);
}

.selectAmount {
  display: grid;
  grid-template-columns: repeat(3, 35px);
  grid-template-rows: 35px;
  inline-size: max-content;
  margin-block-start: auto;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.button {
  font-size: 2rem;
}

.input {
  padding: 0;
  font-weight: 700;
  text-align: center;
  appearance: textfield;
  outline: none;
  border: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
