.wrapper {
  max-inline-size: 600px;
  padding: 20px;
  margin-inline: auto;
}

.title {
  font-size: 2.8rem;
  padding-block-end: 20px;
}

.description {
  font-weight: 500;
  margin-block-end: 20px;
}

.link {
  display: inline-block;
  padding-block-start: 20px;
  text-decoration: underline;
}
