.button {
  background-color: hsl(162, 100%, 35%);
  color: var(--content-color-invert);
  block-size: 48px;
  padding-inline: 28px;
  border-radius: var(--border-radius);
  font-weight: 500;
  text-transform: uppercase;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: hsl(162, 100%, 40%);
}
