.toast {
  --space-inline: 20px;
  --translate-value: calc(100% + var(--space-inline));
  position: fixed;
  inset-block-end: var(--space-inline);
  inset-inline-end: var(--space-inline);
  display: flex;
  column-gap: 10px;
  align-items: center;
  max-inline-size: 380px;
  padding: 12px 14px;
  font-size: 1.4rem;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 3px 11px 0 hsla(0, 0%, 0%, 0.09);
  animation: enterToastBottom 150ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.toast.hide {
  animation-name: hideToast;
}

.leadingIcon {
  flex-shrink: 0;
}

.title {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .toast {
    inset: var(--space-inline);
    inset-block-end: unset;
    max-inline-size: unset;
    animation-name: enterToastTop;
  }
}

@keyframes enterToastBottom {
  from {
    transform: translateY(var(--translate-value));
  }
}

@keyframes enterToastTop {
  from {
    transform: translateY(calc(-1 * var(--translate-value)));
  }
}

@keyframes hideToast {
  to {
    transform: translateX(var(--translate-value));
  }
}
