.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-inline: inherit;
  padding-block: 16px;
  margin-inline: calc(var(--modal-space-inline) * -1);
  scrollbar-width: thin;
  overflow-y: auto;
}
