.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-block: 24px 16px;
  inline-size: 100%;
}

.logo {
  --size: 28px;
  flex-shrink: 0;
  inline-size: var(--size);
  block-size: var(--size);
}

.text {
  flex-grow: 1;
  text-align: center;
  text-transform: initial;
  font-size: 1.4rem;
}

.legalText {
  color: hsl(0, 0%, 39%);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
}

.legalLink {
  font-weight: 700;
}
