.container {
  display: flex;
}

.images,
.details {
  flex: 1 1 50%;
}

.images {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.image {
  inline-size: 100%;
}

.details {
  position: sticky;
  inset-block-start: var(--header-block-size);
  display: flex;
  flex-direction: column;
  block-size: calc(100vh - var(--header-block-size));
  padding: 28px 32px 32px 80px;
}

.title {
  font-size: 24px;
  padding-block-end: 12px;
}

.actions {
  display: flex;
  column-gap: 24px;
}

.productInfo {
  max-inline-size: 472px;
  margin-block-start: 24px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.productLinks {
  display: flex;
  column-gap: 1px;
  inline-size: max-content;
  margin-block-start: auto;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--border-color);
}

.productLink {
  padding-inline: 16px;
  background-color: var(--bg-color);
}
